{% extends "base.html" %}

{% block title %}Stepik Delivery{% endblock %}

{% block content %}
  <main class="container">
    <section class="row">
      <div class="col-12 col-lg-8">
        <h1 class="h3 my-5">Личный кабинет. Заказы</h1>

        {% if no_orders %}
          <div class="alert alert-info mt-3">У вас пока нет заказов. Загляните в <a href="/">меню</a> и выберите что-нибудь вкусное 🍕</div>
        {% endif %}

        {% if not no_orders %}
        {% for order in orders %}
          <div class="card mt-4">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="row">
                  <div class="col-7 col-lg-9">
                    <span class="h5 font-weight-bold">{{ order.created_at.strftime('%d %B') }}</span>
                    <span class="h5">- {{ order.total }} ₽</span>
                  </div>
                </div>
              </li>
              <div class="card-body">
                <div class="row">
                  {% for item_order in order.items %}
                    <p class="col-6 text-muted">{{ item_order.item.title }}</p>
                    <p class="col-3 text-muted text-center">{{ item_order.quantity }}</p>
                    <p class="col-3 text-muted text-right">{{ item_order.sum_price }} ₽</p>
                  {% endfor %}
                </div>
              </div>
            </ul>
          </div>
        {% endfor %}
        {% endif %}

      </div>
    </section>
  </main>
{% endblock %}