<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Stepik Delivery{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    /* Sticky footer styles */
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      margin-bottom: 60px;
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      line-height: 60px;
    }
    .navbar {
      padding-top: 0;
      padding-bottom: 0;
    }
  </style>
</head>

<body>
  <!-- Header -->
  <header class="container mt-3">
    <nav class="py-1 navbar navbar-dark bg-dark d-flex justify-content-between">
      <p class="h5 my-2 text-white bg-dark">Stepik Delivery</p>
      <p class="my-2 text-white bg-dark">
        Корзина ({{ cart_count }} товара(ов), {{ cart_total }} руб.)
      </p>
      <div>
        <a href="#" class="btn btn-warning btn-sm">Войти</a>
        <a href="#" class="btn btn-light btn-sm d-none">Выйти</a>
      </div>
    </nav>
  </header>

  <!-- Main Content -->
  <main class="container mt-3">
    {% block content %}{% endblock %}
  </main>

  <!-- Footer -->
  <footer class="footer">
    <nav class="container navbar navbar-light bg-light">
      <p class="h4 nav-link">Stepik Delivery</p>
      <a class="text-muted" href="#">Project author 2025</a>
    </nav>
  </footer>
</body>

</html>
