<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Stepik Delivery{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    /* Sticky footer styles */
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      margin-bottom: 60px;
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      line-height: 60px;
    }
    .navbar {
      padding-top: 0;
      padding-bottom: 0;
    }
  </style>
</head>

<body>
  <!-- Header -->
  <header class="container mt-3">
    <nav class="py-2 navbar navbar-dark bg-dark d-flex justify-content-between align-items-center">

      <!-- Логотип с ссылкой на главную -->
      <a href="/" class="navbar-brand h5 mb-0 text-white">Stepik Delivery</a>

      {% if context['is_logged_in'] %}
        <div class="dropdown">
          <button class="btn btn-outline-light dropdown-toggle" type="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            👤 Профиль
          </button>
          <div class="dropdown-menu dropdown-menu-right bg-light" aria-labelledby="userMenu">
            <a class="dropdown-item" href="/account">Личный кабинет</a>
            <a class="dropdown-item" href="/cart">🛒 Корзина ({{ order.cart_count }} тов., {{ order.total }} руб.)</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" href="/logout">Выйти</a>
          </div>
        </div>
      {% else %}
        <div>
          <a href="/login" class="btn btn-warning btn-sm">Войти</a>
        </div>
      {% endif %}
    </nav>
  </header>

  <!-- Main Content -->
  <main class="container mt-3">
    {% block content %}{% endblock %}
  </main>

  <!-- Footer -->
  <footer class="footer">
    <nav class="container navbar navbar-light bg-light">
      <p class="h4 nav-link">Stepik Delivery</p>
      <a class="text-muted" href="#">Project author 2025</a>
    </nav>
  </footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa6YkE2A1bujDfdf4T2oCkz7j"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>
