{% extends "base.html" %}

{% block title %}Stepik Delivery{% endblock %}

{% block content %}
<main class="container">
  <h1 class="h3 my-4">Корзина</h1>
  {% if deleted %}
  <div class="alert alert-warning" role="alert">Блюдо удалено из корзины</div>
  {% endif %}

  {% if context['is_logged_in'] == False %}
    <div class="alert alert-warning" role="alert">Чтобы сделать заказ – <a href="/login">войдите</a> или <a href="/register">зарегистрируйтесь</a></div>


  {% else %}
  <div class="row mt-6">


      <div class="col-4">
        <form action="/order" method="POST">
          <h4 class="">Ваши данные</h4>

          <div class="mt-3 mb-3">
            <label for="name">Ваше имя</label>
            <input type="text" id="name" name="name" class="font-weight-bold form-control" value="{{ order.user.name if order.user.name else '' }}">
          </div>

          <div class="mt-3 mb-3">
            <label for="name">Адрес</label>
            <input type="text" id="address" name="address" class="font-weight-bold form-control" value="{{ order.address if order.address else '' }}">
          </div>

          <div class="mt-3 mb-3">
            <label for="name">Телефон</label>
            <input type="text" id="phone" name="phone" class="font-weight-bold form-control" value="{{ order.user.phone if order.user.phone else '' }}">
          </div>

         <input type="hidden" value = "{{ order.total }}" name="order_summ">
         <input type="hidden" value="[1,3,4]" name="order_cart">

          <button type="submit" class=" mt-3 mb-5 btn btn-danger">Оформить заказ</button>
        </form>
      </div>

      <div class="col-1"></div>

      <div class="col-7">
        <h4 class="mb-3 col-7 mb-5">{{ order.cart_count }} блюд(а) в корзине</h4>
        <table class="table">
          <tbody>
            {% for item_order in order.items %}
              <tr>
                <th scope="row">{{ item_order.item.title }}</th>
                <td></td>
                <td>{{ item_order.quantity }}</td>
                <td>{{ item_order.sum_price }}</td>
                <td><a class="text-danger" href="/removefromcart/{{ item_order.item.id }}">Удалить</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <hr>
        <p class="display-4 my-2 ">{{ order.total }} руб</p>
      </div>
  </div>
  {% endif %}
</main>
{% endblock %}